# --- Core ML & Data ---
pandas
numpy
scikit-learn
xgboost
joblib
gdown

# --- MLOps & Tracking ---
mlflow
dagshub
optuna
python-dotenv
PyYAML

# --- Model Serving & ONNX ---
onnx
onnxruntime
onnxmltools
skl2onnx

# --- API (FastAPI) ---
fastapi
uvicorn
pydantic

# --- UI (Streamlit) ---
streamlit
requests